{% extends 'BlogcitoPython/base.html' %}

{% block contenido %}
    <h1 style="text-align: center;">Hola! soy Kevin Gastaldello</h1>
    <div>
        <h3> Un poco de mi historia: </h3>
        <p>
            Nací en Bragado un 21 de enero de 1996. Soy el hijo del medio. 
            Actualmente estoy trabajando en un negocio familiar y complementándolo con cursos de programación
            para poder dedicarme de lleno al IT en el día de mañana.
            Me inclino más por el lado del backend principalmente porque no tengo buen ojo para el diseño gráfico.
        </p>
        <h3> ¿Por qué Python? </h3>
        <p>
            Es un lenguaje amigable, facil de entender y de usar pero no menos potente por eso.
        </p>
        <h3> Acerca de este proyecto: </h3>
        <p>
            La idea de esta app es ser un blog
            con las funcionalidades básicas (carga de imagenes, entradas, actualizacion de perfiles, mensajeria...)
            Me sentí muy comodo a la hora de usar Django porque su workflow es facil de entender y, por lo tanto, adapatarse a él.
            Espero disfruten navegando dentro de esta app, traté de hacerla lo mas amigable posible para que sea
            una experiencia agradable su uso.
        </p>
        <h3> Contacto: </h3>
        <p>
            <a href="https://www.instagram.com/kevingastaldello/" target="_blank" class="btn btn-danger"> Mi Instagram </a>
            <a href="https://twitter.com/KeevGastaldello" target="_blank" class="btn btn-info"> Mi Twitter </a>
            <a href="https://www.facebook.com/kevin.gastaldello.7" target="_blank" class="btn btn-primary"> Mi Facebook </a>
            <a href="https://www.linkedin.com/in/kevin-gastaldello-114a39228/" target="_blank" class="btn btn-primary" style="background-color: darkblue;"> Mi LinkedIn </a>
            <a href="https://github.com/kvin21ok" target="_blank" class="btn btn-success"> Mi GitHub </a>
            <a href="mailto:kevin.gastaldello21@gmail.com" target="_blank" class="btn btn-secondary"> Envíame un mail!</a>
        </p>
    </div>
{% endblock %}