{% extends 'BlogcitoPython/base.html' %}

{% block contenido %}
<ul>
    {% for message in object_list %}
    <li>
        {{message.send_date}} // {{message.email}} // {{message.name}}
        <a class="btn btn-info" href="{% url 'blogcitopython_detalle_mensajes' message.id %}"> Ver! </a>
        <a class="btn btn-danger" href="{% url 'blogcitopython_borrar_mensajes' message.id %}"> Borrar </a>
    </li> 
    {% endfor %}
</ul>
<a class="btn btn-secondary" href="{% url 'blogcitopython_listar' %}"> Volver a lista de posts </a>
{% endblock %}